<div class="user-row-actions">
  <%= link_to t('.edit', :default => t('helpers.links.edit')),
              '#', :class => 'btn btn-default btn-xs' %>
  <%= link_to t('.destroy', :default => t('helpers.links.destroy')),
              '#',
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
  <%= link_to t('.view', :default => t('helpers.links.view')),
              '#',
              :class => 'btn btn-xs btn-info' %>
</div>