<%- model_class = Server -%>
<%
   meta title: 'Minecraft Servers l Minecraft Servers ip list',
        keywords: %w()
%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Minecraft Servers' %></h1>
</div>

<div class="container">
  <%= render 'partials/servers', servers: @servers, page:@page %>
</div>


