<%- model_class = Server -%>
<%
   meta title: 'Minecraft Servers l Minecraft Servers ip list',
        keywords: %w()
%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Minecraft Server List' %></h1>
</div>

<div class="container">
  <%= render 'partials/servers', servers: @servers, page:@page, paginate:true %>
</div>


<style>
    .text {
        text-align:  right;
    }
</style>
<div class="text">
<!-- counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t12.10;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='Views per 24 hours"+
" hosts per 24 hours and today ' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/-->
</div>