/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body{
    color:#444;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.jumbotron {
    background: #ade3ed; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ade3ed 0%, #aeefc1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ade3ed), color-stop(100%,#aeefc1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #ade3ed 0%,#aeefc1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #ade3ed 0%,#aeefc1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #ade3ed 0%,#aeefc1 100%); /* IE10+ */
    background: linear-gradient(45deg,  #ade3ed 0%,#aeefc1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ade3ed', endColorstr='#aeefc1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron h1 {
    font-size: 50px;
}

.navbar.navbar-default.navbar-static-top{
    margin-bottom: 0;
}

.label
{
    margin-right: 5px;
}

.container .row {
    padding-top: 10px;
}

.server-row-actions
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.table-reset
{
    display: inline-block;
}

ul#tabs
{
    margin-bottom: 20px;
}

.addthis_sharing_toolbox {
    display: inline-block;
    float: right;
    position: relative;
    top: 7px;
}


table.vip-table thead,
table.rank-table thead
{
    background: #3f729b;
    color:#ffffff;
}

table.vip-table thead th,
table.rank-table thead th
{
    line-height: 29px;
    font-size: 18px;
}

table.vip-table tbody td.rating-name,
table.rank-table tbody td.rating-name
{
    max-width: 200px;
}

table.vip-table tbody,
table.rank-table tbody
{
    text-align: center;
}

table.vip-table .rating-icon,       table.rank-table .rating-icon,
table.vip-table .rating-banner,     table.rank-table .rating-banner,
table.vip-table .rating-players,    table.rank-table .rating-players,
table.vip-table .rating-status,     table.rank-table .rating-status
{
    line-height: 82px;
}

table.vip-table .rating-players,
table.rank-table .rating-players
{
    font-size: 18px;
}

table.vip-table td.rating-name,
table.rank-table td.rating-name
{
    vertical-align: inherit;
}

table.vip-table .rating-icon div.rating-icon-wrapper,
table.rank-table .rating-icon div.rating-icon-wrapper
{
    display: inline-block;
    height: 44px;
    width: 44px;
    vertical-align: inherit;
    border-radius:8px;
    background: #3f729b;
    position: relative;
    top: 20px;
}

table.vip-table .rating-icon i,
table.rank-table .rating-icon i
{
    color: gold;
    display: inline-block;
    font-size: 39px;
    position: relative;
    top: -10px;
}

table.rank-table .rating-icon i
{
    top:-18px
}