/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body{
    color:#444;
    font-family: 'Roboto Condensed';
}

.jumbotron {
    background: #ade3ed; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ade3ed 0%, #aeefc1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ade3ed), color-stop(100%,#aeefc1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #ade3ed 0%,#aeefc1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #ade3ed 0%,#aeefc1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #ade3ed 0%,#aeefc1 100%); /* IE10+ */
    background: linear-gradient(45deg,  #ade3ed 0%,#aeefc1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ade3ed', endColorstr='#aeefc1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron h1 {
    font-size: 50px;
}

.navbar.navbar-default.navbar-static-top{
    margin-bottom: 0;
}

.label
{
    margin-right: 5px;
}

.label.label-success,
.label.label-danger
{
    width: 106px !important;
    font-size: 15px;
    display: inline-block;
    height: 30px;
    padding: 6px 0 5px;
}

.label.label-success
{
    background-color: #38A50E;
}

.label.label-danger
{
    background-color: #C62B2B;
}

.container .row {
    padding-top: 10px;
}

.server-row-actions
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.table-reset
{
    display: inline-block;
}

ul#tabs
{
    margin-bottom: 20px;
}

.addthis_sharing_toolbox {
    display: inline-block;
    float: right;
    position: relative;
    top: 7px;
}


table.vip-table thead,
table.rank-table thead
{
    background: #3f729b;
    color:#ffffff;
}

table.vip-table thead th,
table.rank-table thead th
{
    line-height: 29px;
    font-size: 18px;
}

table.vip-table tbody td.rating-name,
table.rank-table tbody td.rating-name
{
    max-width: 200px;
}

table.vip-table tbody,
table.rank-table tbody
{
    text-align: center;
}

table.vip-table .rating-icon,       table.rank-table .rating-icon,
table.vip-table .rating-banner,     table.rank-table .rating-banner,
table.vip-table .rating-players,    table.rank-table .rating-players,
table.vip-table .rating-status,     table.rank-table .rating-status
{
    line-height: 82px;

}

table.vip-table .rating-players,
table.rank-table .rating-players
{
    font-size: 18px;
}

table.vip-table td.rating-name,
table.rank-table td.rating-name
{
    vertical-align: inherit;
}

table.vip-table .rating-icon div.rating-icon-wrapper,
table.rank-table .rating-icon div.rating-icon-wrapper
{
    background: #222;
    color: #fff;
    display: inline-block;
    padding: 10px 15px 10px 14px;
    line-height: 16px;
    border-radius: 3px;
    position: relative;
    top: 4px;
    margin: 0 auto;
}

table.vip-table .rating-icon i,
table.rank-table .rating-icon i
{
    top: 2px;
    margin: -12px -1px -1px -4px;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
}

table.rank-table .rating-icon i
{
    top:-18px
}

.section-head {
    background: none repeat scroll 0 0 #3F729B;
    border-color: #dedede #dedede -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px 1px medium;
    color: #fff;
    font-family: "Roboto Condensed",helvetica,arial,sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 17px;
    margin: 0;
    padding: 16px 0 16px 20px;
    text-align: left;
}
.section-head h1 {
    display: inline;
    font-size: 17px;
    font-weight: 300;
    line-height: 17px;
}

.bordered
{
    border: 1px solid #dddddd;
}

.tab-links li a {
    background: none repeat scroll 0 0 transparent !important;
    color: inherit !important;
    display: inline-block;
    height: 44px;
    line-height: 50px;
    margin: 0 !important;
    padding: 0 20px !important;
}
a {
    color: #7f8ab4;
    text-decoration: none;
}

.tab-links li {
    display: block;
    float: left;
}

.tab-links {
    list-style: none outside none;
    overflow: hidden;
}
.tab-links {
    padding: 0;
}

ul.tab-links
{}

.active {
    border-bottom: 6px solid #7f8ab4;
}


.tab-links li:hover {
    cursor: pointer;
}
.tab-links li:hover, .tab-links li:hover {
    border-bottom: 6px solid #7f8ab4;
    cursor: pointer;
}
.tab-links li:hover, .tab-links li:hover {
    border-bottom: 6px solid #7f8ab4;
    cursor: pointer;
}

.no-padding
{
    padding: 0 !important;
}

.vote-pane {
    text-align: center;
}

.vote-pane a#btn-vote, .vote-pane button
{
    font-size: 36px;
}